@model IEnumerable<UBB_SE_2024_Music.Models.Creation>

@{
    ViewData["Title"] = "Load a Creation";
}

<div class="container">
    <h3 class="mt-4">Load a Creation</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>
                        <form asp-action="LoadCreation" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-primary">Load Creation</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>