@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

@if (!SignInManager.IsSignedIn(User))
{
    <h1 class="text-center mt-5">You must log in.</h1>
}
else
{
    <div class="searchBars mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-center">Search for Songs by Title</h5>
                            <form asp-controller="ArtistDashboard" asp-action="Search" method="get">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="searchInput" name="title" placeholder="Enter song name...">
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-center">Search for Songs by Artist</h5>
                            <form asp-controller="ArtistDashboard" asp-action="Index" method="get">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="artistInput" name="artistName" placeholder="Enter artist name...">
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
