@{
    ViewBag.Title = "No Songs";
}

<h2>@ViewBag.Message</h2>
<p>Sorry, but we couldn't find any songs that match your criteria.</p>
<a href="@Url.Action("Index", "")" class="btn btn-primary">Return to Home</a>