@model UBB_SE_2024_Music.Models.Playlist

@{
    ViewData["Title"] = "Create New Playlist";
}

<h1>Create New Playlist</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="IsPrivate" asp-for="IsPrivate" />
                <label class="form-check-label" for="IsPrivate">Private</label>
                <span asp-validation-for="IsPrivate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ImagePath" class="form-label">Image Path</label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}