@model UBB_SE_2024_Music.DTO.PlaylistDetailsViewModel

@{
    ViewData["Title"] = "Details of Playlist";
}

<h1>Details of Playlist</h1>

<div class="mb-4">
    <h4>Playlist Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Playlist.Name)</dd>
        <dt class="col-sm-2">Image:</dt>
        <dd class="col-sm-10"><img src="@Model.Playlist.ImagePath" alt="Playlist Image" height="300"/></dd>
    </dl>
</div>

<div class="mb-4">
    <h4>Songs in this Playlist</h4>
    <hr />
    @if (Model.Songs != null && Model.Songs.Any())
    {
        <ul class="list-group">
            @foreach (var song in Model.Songs)
            {
                <li class="list-group-item">
                    <strong>@Html.DisplayFor(modelItem => song.Name)</strong> by @Html.DisplayFor(modelItem => song.ArtistName)
                </li>
            }
        </ul>
    }
    else
    {
        <p>No songs available in this playlist.</p>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Playlist.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>